.button {
  position: absolute;
  display: grid;
  place-items: center;
  width: 42px;
  height: 42px;
  right: 12px;
  top: 12px;
  background-color: rgba(255, 193, 7, 0.5);
  border-radius: 100%;
}
