.container {
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.image-container {
  flex-shrink: 0;
  width: 100%;
  aspect-ratio: 16 / 23;
  scroll-snap-align: start;
}

.analysis-image {
  width: 100%;
}
