.container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.text {
  font-size: var(--font-common-title-size);
  font-weight: var(--font-common-title-weight);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
