.container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100%;
  background-color: var(--color-primary-bg);
  overflow: hidden;
}

.container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 434px;
  height: 434px;
  border-radius: 50%;
  background: #ffce3b;
  filter: blur(2px);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.inner {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 360px;
  display: grid;
  row-gap: 0;

  min-width: 0;
  flex: 0 1 auto;
}
