.subtitle {
  padding-top: 19.7svh;
  padding-bottom: 10svh;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
}

.circle {
  position: absolute;
  width: 172px;
  height: 172px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(75px);
  background-color: #ffce3b;
  z-index: -1;
}
