.wrap {
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 24px;
}

.textBox {
  text-align: center;
  display: grid;
  gap: 6px;
  margin: 160px 75px 0 75px;
}

.title {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  color: #1a1a1a;
}

.figure {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  padding-top: 8px;
  min-height: 400px;
}

.haloBase {
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  z-index: 0;
}

.halo1 {
  width: 172px;
  height: 172px;
  background: #ffce3b;
  filter: blur(75px);
}

.halo2 {
  width: 172px;
  height: 172px;
  background: #ffce3b;
  filter: blur(75px);
}

.halo3 {
  width: 218px;
  height: 218px;
  background: rgba(255, 206, 59, 0.7);
  box-shadow: inset 0 4px 20px 5px #fff;
  border-radius: 50%;
}

.image {
  width: 258px;
  height: auto;
  position: relative;
  z-index: 2;
}

.cluster {
  position: relative;
  z-index: 1;
  display: grid;
  width: 408px;
  height: 265px;
  grid-template-columns: repeat(3, 122px);
  grid-auto-rows: 122px;
  gap: 20px;
  padding: 0;
  box-sizing: content-box;
}
.clusterItem {
  width: 122px;
  height: 122px;
  object-fit: contain;
  border-radius: 12px;
}

@media (max-width: 420px) {
  .cluster {
    transform: scale(0.9);
    transform-origin: center;
  }
}

.clusterWrapper {
  position: relative; /* rect들이 cluster 기준으로 붙도록 */
  display: inline-block;
}

.rectLeft,
.rectRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 81px;
  height: 408px;
  background: rgba(255, 255, 255, 0.8);
  filter: blur(25px);
  pointer-events: none;
  z-index: 2;
}

.rectLeft {
  left: -81px; /* 클러스터 바깥으로 삐져나오게 */
}

.rectRight {
  right: -81px;
}
