.bar {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background: #e6e6e6;
  transition: all 160ms ease;
  border: 0;
}

.active {
  width: 16px;
  height: 8px;
  background: #ffc107;
}
