.container {
  margin-top: 16px;
}

.important-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.warning-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 36px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 36px;
  font-size: var(--font-common-title-size);
  font-weight: var(--font-common-title-weight);
}

.scroll-button {
  width: fit-content;
  margin: -17px 16px 0 auto;
}

.loading {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 16px 0;
}

.loading-container {
  flex-grow: 1;
  position: relative;
  height: 100%;
  display: grid;
  place-items: center;
  border: 1px solid #b9b9b9;
  background-color: white;
  margin: 0 18px;
  padding: 30.5px 18px;
  border-radius: 18px;
}
