:root {
  --font-family: 'freesentation', sans-serif;

  /** MAIN 소개 제목 */
  --font-main-intro-title-weight: 700;
  --font-main-intro-title-size: 28px;

  /** 전체 화면 제목(공통) */
  --font-common-title-weight: 700;
  --font-common-title-size: 24px;

  /** 계약서분석(메인) 소개 제목 */
  --font-analysis-main-title-weight: 700;
  --font-analysis-main-title-size: 20px;

  /** 계약서분석(메인) 소개 세부내용 */
  --font-analysis-main-detail-weight: 500;
  --font-analysis-main-detail-size: 16px;

  /** 팝업 제목 */
  --font-popup-title-weight: 700;
  --font-popup-title-size: 24px;

  /** 팝업 세부내용, 안내문구 */
  --font-popup-detail-weight: 500;
  --font-popup-detail-size: 16px;

  /** 리스트 제목 */
  --font-list-title-weight: 700;
  --font-list-title-size: 18px;

  /** 리스트 세부내용 */
  --font-list-detail-weight: 400;
  --font-list-detail-size: 14px;

  /** AI요약 1.항목 제목 **/
  --font--ai-section-title-weight: 700;
  --font--ai-section-title-size: 18px;

  /** AI요약 2.주의할점 **/
  --font--ai-caution-title-weight: 700;
  --font--ai-caution-title-size: 16px;

  /** AI요약 3&4 **/
  --font-ai-summary-weight: 400;
  --font-ai-summary-size: 14px;
}
