.container {
  position: relative;
  height: 100%;
}

.scroll-container {
  scroll-snap-align: start;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
}

.scroll-item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: start;
}

.dot-container {
  position: absolute;
  display: flex;
  gap: 5px;
  top: 79.6%;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 32px;
  background-color: #d9d9d9;
}

.dot--active {
  width: 16px;
  background-color: #ffc107;
}

.start-button {
  position: absolute;
  top: 86.7%;
  left: 50%;
  transform: translateX(-50%);
}
