.container {
}

.header {
  margin: 16px 36px 18px;
  font-size: var(--font-common-title-size);
  font-weight: var(--font-common-title-weight);
}

.analysis-image {
  position: relative;
  margin: 0 36px;
  aspect-ratio: 16 / 23;
  background-color: lightgrey;
}

.progress {
  position: absolute;
  left: 67px;
  right: 67px;
  bottom: 12px;
  z-index: 10;
}
