.header {
  margin: 16px 36px 18px;
  font-size: var(--font-common-title-size);
  font-weight: var(--font-common-title-weight);
}

.logo {
  font-family: var(--font-family-saehayan);
  vertical-align: middle;
}

.analysis-section {
  position: relative;
  margin: 0 36px;
  aspect-ratio: 16 / 23;
}

.progress {
  position: absolute;
  left: 67px;
  right: 67px;
  bottom: 12px;
  z-index: 10;
}
